<html>
<head></head>
<body>

	<ul>
	<% for (var i=0;i<dataObj.length; i++) { %>
		<li>
			<%= dataObj[i].userid +"  " + dataObj[i].name + " " + dataObj[i].age + " " + dataObj[i].address %>
		</li>
	<%}%>
	</ul>
	<form action="/view" method="POST">
	<input type="submit" name="View" value="view users">
	</form>
	<form action="/add" method="POST">
	<input type="submit" name="Add" value="add users">
	</form>
	<form accept="/update" method="POST">
	<input type="submit" name="Update" value="update user">
	</form>

	<a href='/upload'> click here to upload</a>

</body>
</html>